* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #289688;
    text-align: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fcea3e;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.img {
    border: solid 7px #fff;
    margin: 5px;
}